th.sortable {
  position: relative;
  cursor: pointer; }
  th.sortable:after {
    font-family: FontAwesome;
    content: "\f0dc";
    position: absolute;
    right: 8px;
    color: #111; }
  th.sortable.sorting-desc:after {
    content: "\f0d7"; }
  th.sortable.sorting-asc:after {
    content: "\f0d8"; }
